<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>static2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>static2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,2},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>static2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,276},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>static2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,276},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FireGod_static2.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6251e0c058421b25c6864b1a508c9ece:5cea7f62db4d9bbfa01b81c83887fe6c:a28878349ec6bf83cdfda15bcb18b27f$</string>
		<key>textureFileName</key>
		<string>FireGod_static2.png</string>
	</dict>
</dict>
</plist>
