<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>static3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,272}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{198,272}}</string>
                <key>sourceSize</key>
                <string>{198,276}</string>
            </dict>
            <key>static3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{198,270}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{198,270}}</string>
                <key>sourceSize</key>
                <string>{198,276}</string>
            </dict>
            <key>static3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{198,272}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{198,272}}</string>
                <key>sourceSize</key>
                <string>{198,276}</string>
            </dict>
            <key>static3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,276},{198,272}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{198,272}}</string>
                <key>sourceSize</key>
                <string>{198,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FireGod_static3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32cd11088587981fd22ccea60ab2d858:45052cb6b37758fcb0e5080c5750a530:43d022058e4d5e44b571a4de82bd42bf$</string>
            <key>textureFileName</key>
            <string>FireGod_static3.png</string>
        </dict>
    </dict>
</plist>
