<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wind_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,2},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,2},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,2},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,2},{198,260}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{198,260}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,274},{198,254}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,22},{198,254}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,274},{198,258}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,18},{198,258}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,274},{198,258}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,18},{198,258}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,274},{198,250}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,26},{198,250}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,274},{198,250}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,26},{198,250}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,274},{198,250}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,26},{198,250}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,274},{198,250}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,26},{198,250}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,274},{198,250}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,26},{198,250}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,274},{198,250}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,26},{198,250}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>wind_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,274},{198,250}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,26},{198,250}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FireGod_wind.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:79f4ab3e39e253cd27da75a201de1065:ce975c03a2bb371a18cccf83d790f63b:f34e434afd859e70475025607862e9d4$</string>
		<key>textureFileName</key>
		<string>FireGod_wind.png</string>
	</dict>
</dict>
</plist>
