<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>colere1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,2},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,2},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,2},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,2},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,276},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,276},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,276},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,276},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,276},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,550},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,550},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,550},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,550},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,550},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere1_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,824},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FireGod_colere1.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2820838daeead7254ffe1cda50032774:7c46dee4a0e997959c91b2fadd4f8e93:ac88ec855456a742f7b78172f6d19e47$</string>
		<key>textureFileName</key>
		<string>FireGod_colere1.png</string>
	</dict>
</dict>
</plist>
