<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>colere2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,2},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,2},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,2},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,2},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,276},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,276},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,276},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,276},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,276},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,550},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,550},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,550},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,550},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,550},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>colere2_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,824},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FireGod_colere2.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9292eb20f149b4ef9b5ce28fb48f1ef8:efb64c524eedea3aae33c33b1d7911e5:67f725f573bdcc5b9d0986505e0a08fd$</string>
		<key>textureFileName</key>
		<string>FireGod_colere2.png</string>
	</dict>
</dict>
</plist>
