<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>2.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,2},{198,270}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{198,270}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,276},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
		<key>4.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,276},{198,272}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{198,272}}</string>
			<key>sourceSize</key>
			<string>{198,276}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FireGod_static1.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a07c4cebc8e74decab0fc4fb0bd9f08e:9ff230258f14d7cc463c2f530bb7bf37:018f0a578e395010726dbd2a971200fb$</string>
		<key>textureFileName</key>
		<string>FireGod_static1.png</string>
	</dict>
</dict>
</plist>
