<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>moveUp_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,281}}</string>
			<key>offset</key>
			<string>{-2,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,281}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveUp_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{194,293}}</string>
			<key>offset</key>
			<string>{-2,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{194,293}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveUp_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,2},{196,299}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{196,299}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveUp_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,2},{198,305}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{198,305}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveUp_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,2},{196,307}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{196,307}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveUp_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,311},{194,303}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{194,303}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveUp_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,311},{194,297}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{194,297}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveUp_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,311},{194,283}}</string>
			<key>offset</key>
			<string>{-2,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{194,283}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveUp_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,311},{194,285}}</string>
			<key>offset</key>
			<string>{-2,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{194,285}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveUp_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,311},{194,277}}</string>
			<key>offset</key>
			<string>{-2,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{194,277}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveUp_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,616},{194,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{194,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveUp_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,616},{194,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{194,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveUp_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,616},{194,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{194,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveUp_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,616},{194,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{194,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>WindGod_moveUp.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e3e5ecc31c80a6e05ea33694a81df861:022343a1f2395bf1aa0b19bcb5c3ae2f:d0c0c23a3b7874673cd6f97fb35a2eb6$</string>
		<key>textureFileName</key>
		<string>WindGod_moveUp.png</string>
	</dict>
</dict>
</plist>
