<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>moveDown_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveDown_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{192,249}}</string>
			<key>offset</key>
			<string>{-3,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{192,249}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveDown_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,2},{192,249}}</string>
			<key>offset</key>
			<string>{-3,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{192,249}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveDown_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,2},{194,249}}</string>
			<key>offset</key>
			<string>{-2,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{194,249}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveDown_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,2},{194,251}}</string>
			<key>offset</key>
			<string>{-2,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{194,251}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveDown_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,261},{194,253}}</string>
			<key>offset</key>
			<string>{-2,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,253}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveDown_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,261},{192,253}}</string>
			<key>offset</key>
			<string>{-2,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{192,253}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveDown_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,261},{190,253}}</string>
			<key>offset</key>
			<string>{-4,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,253}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveDown_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,261},{188,253}}</string>
			<key>offset</key>
			<string>{-4,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{188,253}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveDown_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,261},{194,259}}</string>
			<key>offset</key>
			<string>{-2,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{194,259}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveDown_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,522},{194,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{194,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveDown_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,522},{194,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{194,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveDown_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,522},{194,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{194,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>moveDown_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,522},{194,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{194,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>WindGod_moveDown.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d974861d77be578895fb3f27e1d14990:b1ce4e042f21439c7b7ece370bd31647:41d3a278ca3211adc11c510006cf4a73$</string>
		<key>textureFileName</key>
		<string>WindGod_moveDown.png</string>
	</dict>
</dict>
</plist>
