<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>static3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static3_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,261},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static3_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static3_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static3_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static3_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,261},{192,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static3_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static3_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,261},{192,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static3_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>WindGod_static3.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6d3bcb8e9c9be36020dead7004d91469:73973bbdb8b05b65189ae07bb679f4fe:cc4c23b12ba7e09b88ba40327e42dcec$</string>
		<key>textureFileName</key>
		<string>WindGod_static3.png</string>
	</dict>
</dict>
</plist>
