<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>static1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{192,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,265},{192,273}}</string>
			<key>offset</key>
			<string>{-2,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,5},{192,273}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{192,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{192,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{192,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static1_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{192,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static1_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,265},{192,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static1_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,265},{192,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static1_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,265},{192,261}}</string>
			<key>offset</key>
			<string>{-2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,261}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>WindGod_static1.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f5d9268e060a6eb62a44b0e30b7ba98c:e1a7769ddbf32e373583a62e88d192f4:b506d9a65e96e373582c6ab7b46fed33$</string>
		<key>textureFileName</key>
		<string>WindGod_static1.png</string>
	</dict>
</dict>
</plist>
