<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>static2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{778,2},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,261},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static2_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,261},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static2_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,261},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static2_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,261},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static2_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,261},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static2_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,261},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
		<key>static2_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,261},{192,257}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{192,257}}</string>
			<key>sourceSize</key>
			<string>{198,311}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>WindGod_static2.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:82124ad3d5bc5715285251376bbe0b77:5fb51f985509bc224116279f1a514b4b:560e9b642e150ded7b52e71ed4876f5c$</string>
		<key>textureFileName</key>
		<string>WindGod_static2.png</string>
	</dict>
</dict>
</plist>
